.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.calculadora {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 2px solid #a634db;
  border-radius: 10px;
  background-color: #ecf0f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.numeros {
  margin-bottom: 15px;
}

.text {
  display: block;
  margin-bottom: 8px;
  color: #2c3e50;
}

.inputnum {
  width: 100%;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 1em;
}

.button {
  font-size: 1.2em;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #a634db;
  border-radius: 5px;
  background-color: #a634db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #349109;
}

.resultado {
  margin-top: 15px;
  font-weight: bold;
  color: #349109;
}

.error {
  margin-top: 15px;
  color: #b12717;
  font-weight: bold;
}
